Makefile
Makefile.in
/aclocal.m4
/autom4te.cache/
/config.*
/configure
m4/*.m4
/stamp-h?
.deps/
.dirstamp
*.o
*.lo
*.la
*~
/compile
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/src/.libs
/test/.libs
/libm2d.pc
/test/filltest
/test/copytest
/test/blendtest
/test/roptest
